
.flexThree{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.flexThree .square{
    background-color: Aquamarine;
    width: 100px;
    height: 100px;
    margin: 2px;
}

