
.flexEight{
    display: flex;
    height: 400px;
    width: 300px;
    background-color:#eeeeee;
}

.square{
    background-color: #0b6643;
    width: 100px;
    height: 100px;
}

.flexEight .one{
    display: flex;
    align-items: center;
}

.flexEight .two{
    display: flex;
    align-items: flex-end;
}

.flexEight .three{
    display: flex;
    align-items: flex-start;
}






